@model IEnumerable<CharterFlightsMVC.ViewModels.FlightOfferViewModel>

<table class="table">
    <tr>
        <th>Origin</th>
        <th>Destination</th>
        <th>Departure date</th>
        <th>Stops on departure</th>
        @if (!string.IsNullOrEmpty(Model.FirstOrDefault().ReturnDate))
        {
            @:<th>Return date</th>
            <th>Stops on return</th>
        }
        <th>Total price</th>
        <th>Currency</th>
    </tr>
    @foreach (var flightOffer in Model)
    {
<tr>
    <td>@flightOffer.Origin</td>
    <td>@flightOffer.Destination</td>
    <td>@flightOffer.DepartureDate</td>
    <td>@flightOffer.StopsDeparture</td>
    @if (!string.IsNullOrEmpty(flightOffer.ReturnDate))
    {
        <td>@flightOffer.ReturnDate</td>
        <td>@flightOffer.StopsReturn</td>
    }
    <td>@flightOffer.TotalPrice</td>
    <td>@flightOffer.Currency</td>
</tr>

    }
</table>
